{{ partial "header.html" . }}

<div itemscope itemtype="http://schema.org/Blog">

  {{ if not .IsHome }}
  <header class="list-header">
    {{ if eq .Data.Singular "tag" }}<span>{{ i18n "tagged-in" }}</span>
    <h1 class="list-title">«{{ .Data.Term }}»</h1>
    {{ else }}<h1 class="list-title">{{ i18n "posts" }}</h1>
    {{ end }}
  </header>

  {{ end }}
  {{ $paginator := .Paginate (where .Pages ".Params.type" "!=" "page") (index .Site.Params "paginate" | default 7) }}
  {{ if gt $paginator.TotalPages 0 }}
  {{ range $index, $page := $paginator.Pages }}
  {{ if and $.IsHome (eq $paginator.PageNumber 1) (eq $index 0) }}
  {{ .Scratch.Set "postClass" "first-entry" }}
  {{/* .Scratch.Set "firstEmoji" "<span class=\"welcome-emoji\">👉</span>" */}}
  {{ else }}
  {{ .Scratch.Set "postClass" "post-entry" }}
  {{ end }}

  <article class="post {{ .Scratch.Get `postClass` }}" itemprop="blogPosts" itemscope itemtype="http://schema.org/BlogPosting">
    <header class="post-header">
      {{ safeHTML (.Scratch.Get `firstEmoji`) }}
      <h2 class="post-title" itemprop="name"><a href="{{ .Permalink }}" itemprop="url">{{ .Title }}</a></h2>
      <div class="post-meta">
        <i class="fa fa-calendar-check-o" aria-hidden="true"></i>&nbsp;<time datetime="{{- .Date.Format "2006-01-02" -}}" itemprop="datePublished"> {{- .Date.Format "2006.1.2" -}}</time>
        &middot; <i class="fa fa-clock-o" aria-hidden="true"></i> {{ .ReadingTime }} min
        &middot; <i class="fa fa-tags" aria-hidden="true"></i>
        <ul class="meta-post-tags">
          {{ range .Params.tags }}
          <li><a href="{{$.Site.BaseURL}}tags/{{ . | urlize }}/">{{ . }}</a></li>
          {{ end }}
        </ul>
      </div>
    </header>
    <p class="post-summary" itemprop="description">
      {{ .Summary | plainify | htmlUnescape }}
    </p>
    <footer class="post-footer">
      {{ if .Truncated }}
      <a href="{{ .RelPermalink }}" class="more-link">{{ i18n "read-more" }} &rarr;</a>
      {{ end }}
    </footer>
  </article>

  {{ end }}
  {{ end }}

  {{ if gt $paginator.TotalPages 1 }}
  <footer class="list-footer">
    <nav class="pagination">
      {{ if $paginator.HasPrev }}
      <a class="pagination-prev" href="{{ $paginator.Prev.URL }}">&larr; {{ i18n "prev-page" }}</a>
      {{ end }}
      {{ if $paginator.HasNext }}
      <a class="pagination-next" href="{{ $paginator.Next.URL }}">{{ i18n "next-page" }} &rarr;</a>
      {{ end }}
    </nav>
  </footer>
  {{ end }}

</div>

{{ partial "footer.html" . }}
