{{ partial "header.html" . }}
<article class="post post-view" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <h1 class="post-title" itemprop="headline">{{ .Title }}</h1>
    <p class="post-meta">
      {{- if or .Params.author .Site.Params.author -}}
      <i class="fa fa-user-secret" aria-hidden="true"></i> <span itemprop="author">
        {{ .Params.author | default .Site.Params.author }}
      </span> · {{ end }}
      <i class="fa fa-calendar-check-o" aria-hidden="true"></i>&nbsp;<time datetime="{{- .Date.Format "2006-01-02" -}}"
        itemprop="datePublished">{{- .Date.Format "2006.1.2" -}}</time>
      &nbsp;&middot; <i class="fa fa-clock-o" aria-hidden="true"></i> {{ .ReadingTime }} min
    </p>
  </header>
  <div class="post-content" itemprop="articleBody">
    {{ if isset .Params "featured_image" }}
      <div class="post-featured-image">
        <img src="{{ .Param "featured_image" | absURL }}" itemprop="image" alt="{{ .Title }}" />
      </div>
    {{ end }}

    <div class="outdated-post" data-posted-at="{{- .Date.Format "2006-01-02" -}}">
      <strong>Внимание!</strong> Данный пост был опубликован более года назад и, возможно, уже утратил свою былую
      актуальность. Но это не точно.
    </div>

    {{ .Content }}

    {{ if .IsTranslated }}
    <blockquote>
      <strong>{{ i18n "this-post-translated-into" }}:</strong>
      <ul>
        {{ range .Translations }}
        <li>
          <a href="{{ .Permalink }}">{{ .Title }} ({{ .Lang }})</a>
        </li>
        {{ end}}
      </ul>
      {{ end }}
    </blockquote>
  </div>
  <footer class="post-footer">
    {{ if .Params.tags }}
    <ul class="post-tags">
      {{ range .Params.tags }}
      <li><a href="{{$.Site.BaseURL}}tags/{{ . | urlize }}/">{{ . }}</a></li>
      {{ end }}
    </ul>
    {{ end }}
  </footer>
  <!-- Comments system area start -->

  {{ if not (eq .Params.comments false) }}
    <div class="comments-area">
      {{ if isset .Site.Params "utteranc_repo_name" }}
      <div id="utteranc-comments"></div>
      <script>
        (function () {
          window.setTimeout(function () {
            let d = document, s = d.createElement('script');
            s.src = 'https://utteranc.es/client.js';
            s.setAttribute('repo', '{{ $.Site.Params.utteranc_repo_name }}');
            s.setAttribute('issue-term', '{{ $.Site.Params.utteranc_issue_term | default "pathname" }}');
            s.setAttribute('crossorigin', 'anonymous');
            s.async = true;
            s.defer = true;
            d.getElementById('utteranc-comments').appendChild(s);
          }, 100);
        })();
      </script>
      {{ end }}

      {{ if isset .Site.Params "powr_io_id" }}
      <div class="powr-comments" id="{{ $.Site.Params.powr_io_id }}"></div>
      <script>
        (function () {
          window.setTimeout(function () {
            let d = document, s = d.createElement('script');
            s.src = 'https://www.powr.io/powr.js?external-type=html';
            s.async = true;
            s.defer = true;
            (d.head || d.body).appendChild(s);
          }, 1500);
        })();
      </script>
      {{ end }}

    {{ if .Site.DisqusShortname }}
    <div id="disqus_thread"></div>
    <script>
      var disqus_shortname = '{{ .Site.DisqusShortname }}';
      (function () { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
      })();
    </script>
    <noscript>
      Please enable JavaScript to view the
      <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
    </noscript>
    <!-- Comments system area end -->
    {{ end }}
  </div>
  {{ end }}
</article>
{{ partial "footer.html" . }}
