</main>
<footer class="footer">
  <span>{{ now.Year }} &copy; {{ .Site.Copyright }}</span>
  <!--span>&middot;</span-->
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"
        integrity="sha256-/BfiIkHlHoVihZdc6TFuj7MmJ0TWcWsMXkeDFwhi0zw="
        crossorigin="anonymous"
        data-no-instant></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/yaml.min.js"
        integrity="sha256-tvm0lHsuUZcOfj/0C9xJTU4OQx5KpUgxUcAXLX5kvwA="
        crossorigin="anonymous"
        data-no-instant></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/dockerfile.min.js"
        integrity="sha256-2axosoqkcFJ3cXezszojJ8/PdK8VCYVPOwNq7ersKfk="
        crossorigin="anonymous"
        data-no-instant></script>
<script data-no-instant>
  (function () {

    if (typeof hljs === 'object') {
      hljs.initHighlightingOnLoad();
    }

    let
      $toggle = document.querySelector('.menu-toggle'),
      $body = document.querySelector('body'),
      $outdated = document.querySelectorAll('.outdated-post');

    $toggle.addEventListener('click', function () {
      $body.classList.toggle('noscroll');
    }, false);

    for (var i = 0, len = $outdated.length; i < len; i++) {
      let
        $el = $outdated[i],
        now = new Date(),
        posted_at = new Date($el.getAttribute('data-posted-at')),
        diff = Math.abs(now.getTime() - posted_at.getTime()),
        days = Math.ceil(diff / (1000 * 3600 * 24));

      if (days >= 547 /* 1,5 years */) {
        $el.style.display = 'block';
        $el.style.visibility = 'visible'
      }
    }

  })();
</script>
</body>
</html>
